.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
  gap: 10px;
  padding: 20px 5px;
  color: white;
  background-color:rgb(62, 60, 60);
  border-radius: 10px;
  text-align: start;
}
.listContainer{
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
}
ul {
  
  margin-left: 15px;
  padding: 0;
}
.img{
  margin-top: 0.5em;
  max-width: 5em;
}
.header{
  color: rgb(28, 162, 155);
  margin-bottom: 1em;
}
