.form {
  display: flex;
  flex-direction: column;
  background: rgb(76, 76, 76);
  gap: 0.5em;
  border-radius: 10px;
  text-align: start;
}
.header{
  color: rgb(28, 162, 155);
  margin-bottom: 1em;
}
.section {
  display: flex;
  /* margin: 0, 1em; */
  padding:  0.5em;
  flex-direction: column;
  gap: 0.5em;

}


.field {
  display: flex;
  justify-content: center;
  min-width: 30em;
  gap: 10px;
  border-radius: 10px;
  padding: 1em;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(62, 60, 60);
  box-shadow: inset 2px 5px 10px rgb(34, 34, 34);
}

.selectField {
  background-color: #5c5858;
  /* box-sizing: border-box; */
  width: 100%;
  min-height: 2em;
  padding:0.5em 0.6em;
  text-align: start;
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
  color: white;
}

/* .inputField:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: 0.1s;
  transition-property: box-shadow;
} */

/* margin: 5px;
  background-color: #535050;
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 1em;
  box-shadow: inset 2px 5px 10px rgb(7, 196, 99);
  color: #f6f1f1;
 overflow: hidden; */

.message {
  position: absolute;
  bottom: -35px;
  /* left: 0; */
  font-size: 14px;
  color: rgb(255, 0, 0);
}

.selectField {
  background-color: #535050;
}
.experience {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0, 1em;
  padding:  0.5em 0.7em;
  padding: 0;
  width: 100%;

  align-items: center;
  justify-content: space-evenly;
  gap: 0.3em;
}
/* .experience select{
    background:#535050;
    color: #f6f1f1;
    font-size: 16px;
    height: 2em;
    width: 100%;
    border-radius: 1em;
    text-align: center;
} */

.inputContainer {
  /* display:block; */
  /* min-height: 80px; */
  position: relative;
  text-align: start;
}
.personalData {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding:0.5em;
  gap: 1.5em;
}
/* .checkbox {
  display: flex;
  flex-direction: row;
  align-content: center;
} */
.deleteButton {
  background: red;
}
